/* IMPORTACION DE FUENTE ----------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ESTILOS GENERALES ----------------------------------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-size: 2.2em;
}

/* FONDO ----------------------------------------------------------------*/

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    135deg,
    #00b7d4,
    #505488,
    #2f3f80,
    #161569,
    #5a4894,
    #a950a1,
    #ff7cae
  );
  background-size: 500%;
  animation: fondo__animado 10s infinite;
}

/* ANIMACION DEL FONDO ----------------------------------------------------------------*/

@keyframes fondo__animado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* HEADER ----------------------------------------------------------------*/

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 30px 20px;
}

#header .container .logo {
  font-size: 2.4em;
}

#header .container .bar {
  font-size: 1.6em;
}

#header .container .bar a,
#header .container a {
  padding-right: 10px;
  color: white;
  text-decoration: none;
}

#header .container .bar a:hover,
#header .container a:hover {
  color: red;
}

/* HERO ----------------------------------------------------------------*/

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}
#hero h1 {
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 0px #000000, 7px 7px 0px #353535;
  font-size: 10em;
}

/* SECCION DEFINICION PROVIDA ----------------------------------------------------------------*/

#definicion__provida .container {
  padding-top: 200px;
  display: flex;
  justify-content: space-evenly;
}

#definicion__provida .img__provida {
  background-image: url("../img/provida.png");
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  height: 300px;
  width: 300px;
}

#definicion__provida .texto {
  width: 50%;
  max-width: 600px;
  padding-left: 30px;
  text-align: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#definicion__provida .texto {
  color: #ffffff;
}

/* QUE ES EL ABORTO ----------------------------------------------------------------*/

#qes__aborto .container {
  padding-top: 200px;
  display: flex;
  justify-content: space-evenly;
}

#qes__aborto .img__aborto {
  background-image: url("../img/aborto.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  height: 300px;
  width: 300px;
}

#qes__aborto .texto {
  width: 50%;
  max-width: 600px;
  padding-left: 30px;
  text-align: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#qes__aborto .texto {
  color: #ffffff;
}

/* ARGUMENTOS ----------------------------------------------------------------*/

#argumentos .container {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#argumentos .container h2 {
  font-size: 2em;
  color: white;
}

#argumentos .container .tabla__argumentos {
  margin-top: 50px;
  border: 1px solid black;
  color: white;
  background-color: #000000;
  border-radius: 10px;
  padding: 10px;
  border-spacing: 2px;
  border-color: white;
  margin: 0px 50px;
}

#argumentos .container .tabla__argumentos thead tr {
  font-size: 1em;
  text-align: justify;
  padding: 10px;
}

#argumentos .container .tabla__argumentos tbody td {
  font-size: 1em;
  text-align: justify;
  padding: 30px 10px;
}

#argumentos .container .tabla__argumentos tbody tr:hover {
  background-color: #4e4e4e;
}

/* VIDEO --------------------------------------------------------------*/

#video .container{
    display: flex;
    margin: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#video .container .video video{
    width: 800px;
    height: 600px;
}

/* RIESGOS -------------------------------------------------------- */

#riesgos .container {
  padding-top: 200px;
  display: flex;
  justify-content: space-evenly;
}

#riesgos .container .texto h2 {
  text-align: center;
  color: white;
}

#riesgos .container .texto p {
  text-align: justify;
  color: white;
}

#riesgos .container .texto li {
  color: white;
  list-style: decimal;
}

#riesgos .container .texto li,
#riesgos .container .texto p {
  font-size: 1.1em;
  margin: 0px 400px;
}

/* FOOTER ---------------------------------------------------------------- */

footer {
  background-color: white;
  width: 100%;
  padding: 50px 0px;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  padding-bottom: 100px;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box__footer h4 {
  margin-bottom: 30px;
  color: black;
  font-weight: 700;
}

.box__footer a {
  margin-top: 10px;
  color: rgba(255, 255, 255, .7);
  font-weight: 600;
}

.box__footer a:hover {
  opacity: 0.8;
}
